/* Common styles */
.card-email,
.card-phone,
.card-address {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Email Card Hover Effect */
.card-email:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Phone Card Hover Effect */
.card-phone:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Address Card Hover Effect */
.card-address:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.group:hover .group-hover\:block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  display: none;
}

#DownloadApp h2 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

#DownloadApp img {
  height: 48px; /* Adjust the size of the images as needed */
  transition: transform 0.3s ease;
}

#DownloadApp img:hover {
  transform: scale(1.1);
}

